.gameBoard {
  width: 19rem;
  height: 21rem;
  background-color: #84D2C5;
  margin: auto;
  border: 3px solid green;
  padding: 10px;
  padding-left: 20px;
}

.boardRow {
  height: 6rem;
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.boardSection {
  width: 6rem;
  height: 6rem;
}

.showWinner {
  margin-bottom: 10px;
  width: 12rem;
  height: 1rem;
  padding: auto;
  font: italic small-caps bold 16px/2 cursive;
  padding-bottom: 10px;
}

