.gameBoard {
  width: 20rem;
  height: 20rem;
  background-color: antiquewhite;
  margin: auto;
  border: 3px solid green;
  padding: 10px;
}

.boardRow {
  height: 6rem;
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.boardSection {
  width: 6rem;
  height: 6rem;
}

.showWinner {
  margin-bottom: 10px;
  width: 9rem;
  height: 1rem;
  padding: auto;
}

